.button {
  display: flex;
  height: 52px;
  padding: 14px 20px;
  cursor: pointer;
  font-weight: 500;
  color: var(--white);
  border: var(--pink) 3px solid;
  border-radius: 12px;
  background-color: var(--pink);
  align-items: center;
  justify-content: center;

  @include transition(background-color, opacity);

  &:hover {
    background-color: var(--orange);
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &__icon {
    margin-left: 6px;
  }
}
