.info {
  padding-bottom: 50px;

  &__map {
    display: flex;
    height: 300px;
    margin: 12px 0;
    justify-content: center;

    iframe {
      width: 100%;
      border-radius: 20px;
    }
  }
}
