@import "styles/mixins";

.button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  color: var(--black-900);
  text-decoration: none;
}
