.field {
  margin-bottom: 6px;

  &__text {
    margin-bottom: 12px;

    @include transition(opacity);

    &_disabled {
      opacity: 0.3;
    }
  }

  &__error {
    opacity: 0;
    color: var(--orange);

    @include transition(opacity);

    &_visible {
      opacity: 1;
    }
  }
}

.fieldEnter {
  opacity: 0;
  transform: translateX(-100%);
}

.fieldEnterActive {
  opacity: 1;
  transform: translateX(0);

  @include transition(opacity, transform);
}

.fieldExit {
  opacity: 1;
  transform: translateX(0);
}

.fieldExitActive {
  opacity: 0;
  transform: translateX(-100%);

  @include transition(opacity, transform);
}
