.wrapper {
  position: relative;
  display: grid;
  cursor: pointer;
  align-items: center;
  grid-template-columns: 20px 1fr;

  &_disabled {
    pointer-events: none;
  }
}

.checkbox {
  position: relative;
  width: 23px;
  height: 23px;
  margin: 0;
  cursor: pointer;
  border: 3px solid var(--pink);
  border-radius: 5px;
  background-color: var(--white);
  appearance: none;

  @include transition(opacity);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: "";
    opacity: 0;
    border-radius: 2px;
    background-color: var(--pink);
    transform: translate(-50%, -50%);

    @include transition(opacity);
  }

  &_checked {
    &::before {
      opacity: 1;
    }
  }

  &_disabled {
    opacity: 0.3;
  }

  &__label {
    margin-left: 16px;
    text-align: left;

    @include transition(opacity);

    &_disabled {
      opacity: 0.3;
    }
  }
}
