:root {
  --white: #fff;
  --black-900: #000;
  --black-800: #444b53;
  --black-700: #616267;
  --black-600: #aeaeae;
  --black-500: #c8c8c8;
  --black-400: #e1e2e3;
  --black-300: #e4e4e4;
  --black-200: #f5f6fa;
  --black-100: #fafafa;
  --yellow-900: #f4b000;
  --yellow-700: #ffd770;
  --yellow-600: #f4b000;
  --yellow-200: #fff0ca;
  --yellow-100: #fffbf2;
  --yellow-50: #fffcf5;
  --green-900: #00cea8;
  --green-300: #b9f0e4;
  --green-200: #e3f9f4;
  --green-100: #f5fffd;
  --tooltip: #0d0c22;
  --blue-900: #4875ff;
  --blue-800: #668cff;
  --blue-700: #3063ff;
  --blue-600: #a1a9c1;
  --blue-500: #c7c9d0;
  --blue-400: #cad4ee;
  --blue-300: #e6eaf5;
  --blue-200: #eef0f5;
  --blue-100: #f7f8fb;
  --blue-50: #def2ff;
  --blue-40: #22a4ff;
  --red-900: #ff525f;
  --red-700: #ffa9af;
  --red-300: #ffd7d7;
  --red-200: #ffe5e5;
  --red-100: #ffeded;
  --red-50: #fff4f4;
  --orange-100: #ffecd8;
  --grey-300: #a9acb5;
  --grey-200: #444b53;
  --pink-900: #6933ff;
  --shadow: rgba(69, 85, 133, 0.12);
}
