@import "./breakpoints.scss";
@import "./typography.scss";

/* stylelint-disable */
@mixin clamp($lines_count) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines_count;
}
/* stylelint-enable */

@mixin transition($property...) {
  $transition-normal: 0.3s ease;
  $animated-property: #{""};

  @if length($property) > 1 {
    @for $i from 1 through length($property)-1 {
      $animated-property: $animated-property nth($property, $i) $transition-normal #{", "};
    }
  }

  transition: $animated-property nth($property, length($property)) $transition-normal;
}
