@import "./fonts.scss";
@import "./colors.scss";
@import "./spaces.scss";
@import "./mixins.scss";
@import url(~reset-css);

:root {
  --font-primary: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  color: var(--black-900);
  background-color: var(--blue-100);

  @media print {
    min-width: unset;
  }

// stylelint-disable
#root {
  min-height: 100vh;
}
