@mixin h1-regular {
  font-size: 40px;
  font-weight: 400;
  line-height: 36px;

  @include mq("xxl", "xl") {
    font-size: 30px;
    line-height: 36px;
  }

  @include mq("xl", "lg") {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.01em;
  }

  @include mq("lg") {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
  }
}

@mixin h1-medium {
  @include h1-regular;
  font-weight: 500;
}

@mixin h1-semibold {
  @include h1-regular;
  font-weight: 600;
}

@mixin h1-bold {
  @include h1-regular;
  font-weight: 700;
}

@mixin h2-regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;

  @include mq("xxl", "xl") {
    font-size: 18px;
    line-height: 28px;
  }

  @include mq("xl", "lg") {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @include mq("lg") {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }
}

@mixin h2-medium {
  @include h2-regular;
  font-weight: 500;
}

@mixin h2-semibold {
  @include h2-regular;
  font-weight: 600;
}

@mixin h2-bold {
  @include h2-regular;
  font-weight: 700;
}

@mixin h2cap-regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include mq("xxl", "xl") {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
  }

  @include mq("xl", "lg") {
    font-size: 14px;
    line-height: 24px;
  }

  @include mq("lg") {
    font-size: 13px;
    line-height: 19px;
  }
}

@mixin h2cap-medium {
  @include h2cap-regular;
  font-weight: 500;
}

@mixin h2cap-semibold {
  @include h2-regular;
  font-weight: 600;
}

@mixin h2cap-bold {
  @include h2-regular;
  font-weight: 700;
}

@mixin b1-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;

  @include mq("xxl", "xl") {
    font-size: 16px;
    line-height: 24px;
  }

  @include mq("xl", "lg") {
    font-size: 13px;
    line-height: 20px;
  }

  @include mq("lg") {
    font-size: 11px;
    line-height: 18px;
  }
}

@mixin b1-medium {
  @include b1-regular;
  font-weight: 500;
}

@mixin b1-semibold {
  @include b1-regular;
  font-weight: 600;
}

@mixin b1-bold {
  @include b1-regular;
  font-weight: 700;
}

@mixin b2-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;

  @include mq("xxl", "xl") {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @include mq("xl", "lg") {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  @include mq("lg") {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

@mixin b2-medium {
  @include b2-regular;
  font-weight: 500;
}

@mixin b2-semibold {
  @include b2-regular;
  font-weight: 600;
}

@mixin b2-bold {
  @include b2-regular;
  font-weight: 700;
}

@mixin b3-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;

  @include mq("xxl", "xl") {
    font-size: 12px;
    line-height: 24px;
  }

  @include mq("xl") {
    font-size: 10px;
    line-height: 16px;
  }
}

@mixin b3-bold {
  @include b3-medium;
  font-weight: 700;
}

@mixin b4-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  @include mq("xxl", "xl") {
    font-size: 12px;
    line-height: 24px;
  }

  @include mq("xl") {
    font-size: 10px;
    line-height: 16px;
  }
}

@mixin b4-bold {
  @include b4-medium;
  font-weight: 700;
}

@mixin b5-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @include mq("xxl", "xl") {
    font-size: 10px;
    line-height: 16px;
  }

  @include mq("xl") {
    font-size: 8px;
    line-height: 12px;
  }
}

@mixin b5-bold {
  @include b5-medium;
  font-weight: 700;
}

@mixin ch1 {
  font-size: 112px;
  font-weight: 800;
  line-height: 112px;
  letter-spacing: -0.05em;

  @include mq("xxl", "xl") {
    font-size: 85px;
    line-height: 85px;
  }

  @include mq("xl", "lg") {
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -0.03em;
  }

  @include mq("lg") {
    font-size: 62px;
    line-height: 62px;
    letter-spacing: -0.02em;
  }
}

@mixin ch2 {
  font-size: 80px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: -0.04em;

  @include mq("xxl", "xl") {
    font-size: 65px;
    line-height: 80px;
    letter-spacing: -0.03em;
  }

  @include mq("xl", "lg") {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  @include mq("lg") {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.01em;
  }
}

@mixin ch3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;

  @include mq("xxl", "xl") {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.015em;
  }

  @include mq("xl", "lg") {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }

  @include mq("lg") {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
  }
}

@mixin cb1-regular {
  font-size: 30px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.02em;

  @include mq("xxl", "xl") {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.01em;
  }

  @include mq("xl", "lg") {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }

  @include mq("lg") {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.01em;
  }
}

@mixin cb1-medium {
  @include cb1-regular;
  font-weight: 500;
}

@mixin cb1-semibold {
  @include cb1-regular;
  font-weight: 600;
  line-height: 44px;

  @include mq("xxl", "xl") {
    line-height: 32px;
  }

  @include mq("xl", "lg") {
    line-height: 28px;
  }

  @include mq("lg") {
    line-height: 24px;
  }
}

@mixin cb2-regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.02em;

  @include mq("xxl", "xl") {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  @include mq("xl", "lg") {
    font-size: 15px;
    line-height: 28px;
  }

  @include mq("lg") {
    font-size: 14px;
    line-height: 26px;
  }
}

@mixin cb2-bold {
  @include cb2-regular;
  font-weight: 700;

  @include mq("xxl", "xl") {
    line-height: 34px;
  }
}

@mixin contentLink {
  @include transition(color, border-color);
  color: var(--blue-800);
  text-decoration: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  user-select: text;
  border-bottom: 1px solid currentColor;

  &:active {
    color: var(--blue-900);
  }

  &:hover {
    border-color: transparent;
  }

  &:visited {
    color: var(--pink-900);
  }
}
