.schedule {
  position: relative;
  height: 360px;
  padding-top: 12px;
  background: var(--pink);

  &__title {
    position: relative;
    z-index: 10;
    color: var(--milk);
  }

  &__row {
    display: grid;
    width: 332px;
    margin: 24px auto;
    grid-template-columns: 100px 12px 120px;
    align-items: center;
    gap: 50px;
  }

  &__time {
    z-index: 10;
    font-size: 20px;
    font-weight: 800;
    color: var(--milk);
    justify-self: flex-end;
  }

  &__text {
    z-index: 10;
    font-weight: 800;
    color: var(--milk);
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, -45%);

    & div {
      width: calc(100vw / 5);
      max-width: 95.6px;
      height: calc(100vw / 20);
      border-radius: 50%;
      background-color: var(--pink);
    }
  }

  &__flower {
    position: absolute;
    z-index: 0;
    bottom: 10px;
    left: -40px;
  }

  &__heart {
    position: absolute;
    z-index: 0;
    right: 25px;
    bottom: 50px;
  }
}
