@import "colors";
@import "fonts";

/* stylelint-disable */
html,
body,
#__next {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  background-color: var(--milk);
}

input,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
}

/* stylelint-enable */

p,
a {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
}

a {
  text-decoration: none;
}

span {
  font-weight: 800;
  color: var(--pink);
}

h2 {
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  color: var(--yellow);
}

section {
  max-width: 478px;
  margin: 0 auto;
  padding: 0 12px 24px;
  background-color: var(--milk);
}

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

:focus-visible {
  outline: 4px solid var(--btn-accent-light);
  outline-offset: 0;
}
