.dresscode {
  padding-top: 24px;

  & p {
    margin-bottom: 12px;

    & a {
      text-decoration: none;
      background: linear-gradient(to right, var(--yellow), var(--yellow)),
        linear-gradient(to right, var(--pink), var(--pink));
      background-repeat: no-repeat;
      background-position: 100% 100%, 0 100%;
      background-size: 100% 3px, 0 3px;
      transition: background-size 0.5s linear;

      &:hover {
        background-size: 0 3px, 100% 3px;
      }
    }
  }

  &__colors {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 100%;
  }
}
